<div class="load-screen" *ngIf="flags['onLoad']">
    <div>読み込み中</div>
</div>
<!-- ---------------------------------------
    はがき種別設定
--------------------------------------- -->
<ng-container *ngIf="flags['onType']">
<div class="print-caption">はがきタイプ選択</div>
<div class="select-box">
    <div class="print-cargo click" (click)="setSheetType(0)">
        <div class="label-s"><h3>普通</h3></div>
    </div>
    <div class="print-cargo click" (click)="setSheetType(1)">
        <div class="label-s"><h3>年賀</h3></div>
    </div>
</div>
<div class="select-box">
    <div class="cargo-s click" routerLink="/" routerLinkActive="active">
        <div class="label-s"><h3>MAIN</h3></div>
    </div>
</div>
</ng-container>


<!-- ---------------------------------------
    CSVを読み込むか読み込まないか
--------------------------------------- -->
<ng-container *ngIf="flags['onLoadCSV']">
<div class="print-caption">csvを取り込みますか？</div>

<div class="select-box">
    <div class="print-cargo click" (click)="setLoadCSV(1)">
        <div class="label-s"><h3>取り込む</h3></div>
    </div>
    <div class="print-cargo click" (click)="setLoadCSV(0)">
        <div class="label-s"><h3>取り込まない</h3></div>
    </div>
    <div class="print-cargo click" (click)="moveWindow('type')">
        <div class="label-s"><h3>戻る</h3></div>
    </div>
</div>
</ng-container> 
<!-- ---------------------------------------
    CSVファイルの読込
--------------------------------------- -->   
<ng-container *ngIf="flags['onIncludeCSV']">
<ng-container *ngIf="flags['onDragCSVFile']">
    <div class="print-caption">csv読込</div>
</ng-container>
<ng-container *ngIf="flags['onPreviewCSVFile']">
    <div class="print-caption">内容確認</div>
</ng-container>
<div class="select-box">
<ng-container *ngIf="flags['onDragCSVFile']">
    <form action=""
        method="post"
        enctype="multipart/form-data">
        <div 
            [class.drag-over]="flags['onDrag']"
            class="drag-drop-area"
            (dragover)="onDragOverHandler($event)" 
            (dragleave)="onDragLeaveHandler($event)"
            (drop)="onDropHandler($event, 'drag')" >
            <div class="drag-drop-inside">
                <p>ここにCSVをドロップ</p>
                <p>または</p>
                <input name="csv" (change)="onDropHandler($event, 'select')" type="file" value="ファイルを選択" >
            </div>
        </div>
    </form>
</ng-container>
<ng-container *ngIf="flags['onPreviewCSVFile']">
    <div class="preview-csv-box">
        <ul class="preview-csv-calam">
            <li *ngFor="let csv of readCSVFile">
                <div *ngIf="checkNull(csv[0])">郵便:{{csv[0]}}</div>
                <div *ngIf="checkNull(csv[1])">住所:{{csv[1]}}</div>
                <div *ngIf="checkNull(csv[2])">番地:{{csv[2]}}</div>
                <div *ngIf="checkNull(csv[3])">建物:{{csv[3]}}</div>
                <div *ngIf="checkNull(csv[4])">名前:{{csv[4]}}</div>
                <div *ngIf="checkNull(csv[5])">連名:{{csv[5]}}</div>
                <div *ngIf="checkNull(csv[6])">敬称:{{csv[6]}}</div>
                <div *ngIf="checkNull(csv[7])">会社:{{csv[7]}}</div>
                <div *ngIf="checkNull(csv[8])">部署:{{csv[8]}}</div>
                <div *ngIf="checkNull(csv[9])">差:郵便:{{csv[9]}}</div>
                <div *ngIf="checkNull(csv[10])">差:番地:{{csv[10]}}</div>
                <div *ngIf="checkNull(csv[10])">差:名前:{{csv[10]}}</div>
            </li>
        </ul>
    </div>
</ng-container>
</div>
<ng-container *ngIf="flags['onDragCSVFile']">
<div class="select-box">
    <div class="print-cargo_s click"
        [class.selected]="readCSVEncode['utf']"
        (click)="setupEncode('utf')">
        <div class="label-s">utf-8</div>
    </div>
    <div class="print-cargo_s click"
        [class.selected]="readCSVEncode['sjis']"
        (click)="setupEncode('sjis')">
        <div class="label-s">sjis</div>
    </div>
</div>
</ng-container>
<div class="select-box-bottom">
    <ng-container *ngIf="flags['onPreviewCSVFile']">
    <div class="print-cargo click" (click)="switchLoadtoPreview()">
        <div class="label-s"><h3>再読込</h3></div>
    </div>
    <div class="print-cargo click" (click)="setIncludeCSV()">
        <div class="label-s"><h3>決定</h3></div>
    </div>
    </ng-container>
    <div class="print-cargo click" (click)="moveWindow('loadcsv')">
        <div class="label-s"><h3>戻る</h3></div>
    </div>
</div>
</ng-container>
<!-- ---------------------------------------
    表示内容の入力
--------------------------------------- -->
<ng-container *ngIf="flags['onInputContents']">
<div class="print-caption">内容入力</div>
<div class="select-box input-form">
    <!-- 宛名 -->
    <div>郵便番号(ﾊｲﾌﾝ無)：<input type="number" [(ngModel)]="formStatus.postcode"></div>
    <div>住所：<input type="text" [(ngModel)]="formStatus.address1"></div>
    <div>番地：<input type="text" [(ngModel)]="formStatus.address2"></div>
    <div>建物：<input type="text" [(ngModel)]="formStatus.building"></div>
    <!-- 企業情報 -->
    <div class="button-m click"
        (click)="setupInputDesine('company')">
        企業情報を追加</div>
    <ng-container *ngIf="inputForm.company">
    <div>会社：<input type="text" [(ngModel)]="formStatus.company"></div>
    <div>部署：<input type="text" [(ngModel)]="formStatus.department"></div>
    </ng-container>

    <div>名前：<input type="text" [(ngModel)]="formStatus.name1"></div>
    <!-- 連名 -->
    <div class="button-m click"
        (click)="setupInputDesine('name2')">
        連名を追加</div>
    <ng-container *ngIf="inputForm.name2">
    <div>連名：<input type="text" [(ngModel)]="formStatus.name2"></div></ng-container>

    <!-- 差出人 -->
    <div class="button-m click"
        (click)="setupInputDesine('myAddress')">
        差出人住所</div>
    <ng-container *ngIf="inputForm.myAddress">
    <div>郵便番号(ﾊｲﾌﾝ無し)：<input type="number" [(ngModel)]="formStatus.myPostcode"></div>
    <div>住所：<input type="text" [(ngModel)]="formStatus.myAddress"></div>
    <div>建物：<input type="text" [(ngModel)]="formStatus.myBuilding"></div>
    <div>名前：<input type="text" [(ngModel)]="formStatus.myName"></div>
    </ng-container>

    <!-- 敬称 -->
    <div class="button-m">敬称選択</div>
    <div class="select-box">
        <div class="print-cargo_ss click"
            [class.selected]="nameTitles[0][1]"
            (click)="setupTitle('0')">
            <div class="label-s">様</div>
        </div>
        <div class="print-cargo_ss click"
            [class.selected]="nameTitles[1][1]"
            (click)="setupTitle('1')">
            <div class="label-s">殿</div>
        </div>
        <div class="print-cargo_ss click"
            [class.selected]="nameTitles[2][1]"
            (click)="setupTitle('2')">
            <div class="label-s">先生</div>
        </div>
        <div class="print-cargo_ss click"
            [class.selected]="nameTitles[3][1]"
            (click)="setupTitle('3')">
            <div class="label-s">御中</div>
        </div>
        <div class="print-cargo_ss click"
            [class.selected]="nameTitles[4][1]"
            (click)="setupTitle('4')">
            <div class="label-s">各位</div>
        </div>
        <div class="print-cargo_ss click"
            [class.selected]="nameTitles[5][1]"
            (click)="setupTitle('5')">
            <div class="label-s">行</div>
        </div>
    </div>
    
</div>
<div class="select-box">
    <div class="print-cargo click" (click)="setInputContents()">
        <div class="label-s"><h3>決定</h3></div>
    </div>
    <div class="print-cargo click" (click)="moveWindow('loadcsv')">
        <div class="label-s"><h3>戻る</h3></div>
    </div>
</div>
</ng-container>
<!-- ---------------------------------------
    プレビュー　最終確認
--------------------------------------- -->
<ng-container *ngIf="flags['onReviewCSV']">
<div class="print-caption">内容確認※下記はイメージです</div>
<div class="select-box">
    <div class="box-flex-sngle order-center">
    <ng-container *ngIf="multiPageFlag; else useSingle">
        <div class="sheet-review">
            <div class="sheet-review-multi">
            <ng-container *ngFor="let img of postcardPreviewImageMulti">
                <div class="sheet-review-image">
                    <img [attr.src]="img" width=200 height=296>
                </div>
            </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-template #useSingle>
        <div class="sheet-review">
            <img [attr.src]="postcardPreviewImage" width=200 height=296>
        </div>
    </ng-template>
    </div>
</div>
<div class="select-box-bottom">
    <div class="print-cargo click" (click)="setReviewSheet()">
        <div class="label-s"><h3>決定</h3></div>
    </div>
    <div class="print-cargo click" (click)="moveWindow('loadcsv')">
        <div class="label-s"><h3>戻る</h3></div>
    </div>
</div>
</ng-container>
<!-- ---------------------------------------
    PDFのダウンロード
--------------------------------------- -->
<ng-container *ngIf="flags['onDownload']">
    <div class="print-caption">PDFをダウンロードします</div>
    <div class="select-box">
        <div class="print-cargo click" (click)="setDownloadPDF()">
            <div class="label-s"><h3>ダウンロード</h3></div>
        </div>
        <div class="print-cargo click" (click)="moveWindow('type')">
            <div class="label-s"><h3>初めに戻る</h3></div>
        </div>
    </div>
</ng-container>
