{# view/menu/index.html.twig #}
{% extends 'pc.html.twig' %}

{% block title %}オーダー状況{% endblock %}

{% block style %}
<link rel="stylesheet" href="../css/pc_base.css" type="text/css" />
<link rel="stylesheet" href="../css/admin/order.css" type="text/css" />
{% endblock %}

{% block script %}
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/admin/item.js"></script>
{% endblock %}

{% block content %}
<div id="item-stok">
	<p>待ちオーダー</p>
	<p></p>
</div>
<ul id="category">
	<li>テーブルA</li>
	<li>テーブルB</li>
	<li>テーブルC</li>
	<li>テーブルD</li>
</ul>
<div id="item-state">
	<p>情報</p>
	<div></div>
</div>
<ul id="item-box">
	<li class="item-view">
		<div class="item-title">
			<p>名前</p>
			<p>いか</p>
		</div>
		<div class="item-num">
			<p>数</p>
			<p>３</p>
		</div>
		<div class="item-time">
			<p>受付</p>
			<p>aaaa</p>
		</div>
        <div class="item-stay-time">
            <p>待ち</p>
            <p>aaaa</p>
        </div>
        <div class="item-table">
            <p>席</p>
            <p>A</p>
        </div>
	</li>
    <li class="item-view">
        <div class="item-title">
            <p>名前</p>
            <p>いか</p>
        </div>
        <div class="item-num">
            <p>数</p>
            <p>３</p>
        </div>
        <div class="item-time">
            <p>受付</p>
            <p>aaaa</p>
        </div>
        <div class="item-stay-time">
            <p>待ち</p>
            <p>aaaa</p>
        </div>
        <div class="item-table">
            <p>席</p>
            <p>A</p>
        </div>
    </li>
    <li class="item-view">
        <div class="item-title">
            <p>名前</p>
            <p>いか</p>
        </div>
        <div class="item-num">
            <p>数</p>
            <p>３</p>
        </div>
        <div class="item-time">
            <p>受付</p>
            <p>aaaa</p>
        </div>
        <div class="item-stay-time">
            <p>待ち</p>
            <p>aaaa</p>
        </div>
        <div class="item-table">
            <p>席</p>
            <p>A</p>
        </div>
    </li>
    <li class="item-view">
        <div class="item-title">
            <p>名前</p>
            <p>いか</p>
        </div>
        <div class="item-num">
            <p>数</p>
            <p>３</p>
        </div>
        <div class="item-time">
            <p>受付</p>
            <p>aaaa</p>
        </div>
        <div class="item-stay-time">
            <p>待ち</p>
            <p>aaaa</p>
        </div>
        <div class="item-table">
            <p>席</p>
            <p>A</p>
        </div>
    </li>
    <li class="item-view">
        <div class="item-title">
            <p>名前</p>
            <p>いか</p>
        </div>
        <div class="item-num">
            <p>数</p>
            <p>３</p>
        </div>
        <div class="item-time">
            <p>受付</p>
            <p>aaaa</p>
        </div>
        <div class="item-stay-time">
            <p>待ち</p>
            <p>aaaa</p>
        </div>
        <div class="item-table">
            <p>席</p>
            <p>A</p>
        </div>
    </li>
    <li class="item-view">
        <div class="item-title">
            <p>名前</p>
            <p>いか</p>
        </div>
        <div class="item-num">
            <p>数</p>
            <p>３</p>
        </div>
        <div class="item-time">
            <p>受付</p>
            <p>aaaa</p>
        </div>
        <div class="item-stay-time">
            <p>待ち</p>
            <p>aaaa</p>
        </div>
        <div class="item-table">
            <p>席</p>
            <p>A</p>
        </div>
    </li>
</ul>

{% endblock %}