
<loading></loading>

<alert></alert>

<!-- ---------------------------------------
    トップ画面
--------------------------------------- -->
<ng-container *ngIf="flags['main']">
<div class="print-caption">レイアウトエディット</div>

<div class="select-box">
    <div class="print-cargo click" (click)="setNewLayout()">
        <div class="label-s"><h3>新規作成</h3></div>
    </div>
</div>

<div>
<div>登録済レイアウト</div>
<ul class="layout-list">
    <ng-container *ngFor="let layout of layoutLists; index as i">
    <li class="layout-propatie click"
        (click)="setEdit(i)">
        <div>title:{{layout["title"]}}</div>
        <div>id:{{layout["id"]}}</div>
    </li>
    </ng-container>
</ul>
</div>
</ng-container> 
<div class="select-box">
    <div class="cargo-s click" routerLink="/" routerLinkActive="active">
        <div class="label-s"><h3>MAIN</h3></div>
    </div>
</div>
<!-- ---------------------------------------
    SVGファイルの読込
--------------------------------------- -->   
<ng-container *ngIf="flags['onLoadSVG']">
<ng-container *ngIf="flags['onDragSVGFile']">
    <div class="print-caption">SVG読込</div>
</ng-container>
<ng-container *ngIf="flags['onPreviewSVGFile']">
    <div class="print-caption">内容確認</div>
</ng-container>
<div class="select-box">
<ng-container *ngIf="flags['onDragSVGFile']">
    <form action=""
        method="post"
        enctype="multipart/form-data">
        <div 
            [class.drag-over]="onDrag"
            class="drag-drop-area"
            (dragover)="onDragOverHandler($event)" 
            (dragleave)="onDragLeaveHandler($event)"
            (drop)="onDropHandler($event, 'drag')" >
            <div class="drag-drop-inside">
                <p>ここにSVGをドロップ</p>
                <p>または</p>
                <input name="svg" (change)="onDropHandler($event, 'select')" type="file" value="ファイルを選択" >
            </div>
        </div>
    </form>
</ng-container>
<ng-container *ngIf="flags['onPreviewSVGFile']">
    <div class="preview-svg-box">
<!--         <svg [attr.width]="sheetWidth" [attr.height]="sheetHeight" id="svg-box">
        <ng-container *ngFor="let path of loadSVGData">
            {{path}}
        </ng-container>
        </svg> -->
        <img [attr.width]="sheetWidth" [attr.height]="sheetHeight"
            [attr.src]="sanitizer.bypassSecurityTrustResourceUrl(editLayout.template)">
    </div>
</ng-container>
</div>

<div class="select-box-bottom">
    <ng-container *ngIf="flags['onPreviewSVGFile']">
    <div class="print-cargo click" (click)="switchLoadtoPreview()">
        <div class="label-s"><h3>再読込</h3></div>
    </div>
    <div class="print-cargo click" (click)="setLoadSVG()">
        <div class="label-s"><h3>決定</h3></div>
    </div>
    </ng-container>
    <div class="print-cargo click" (click)="moveWindow('main')">
        <div class="label-s"><h3>戻る</h3></div>
    </div>
</div>
</ng-container>

<!-- ---------------------------------------
    編集
--------------------------------------- -->
<ng-container *ngIf="flags['onEdit']">
<div class="print-caption">編集</div>
<div class="edit-sheet-spec">
    <div class="edit-sheet-direction">
        <div
            [class.selected]="sheetSpec['vertical']"
            class="print-cargo-s click" (click)="setupSheetDirection('vertical')">
            <div>縦</div>
        </div>
        <div
            [class.selected]="sheetSpec['side']"
            class="print-cargo-s click" (click)="setupSheetDirection('side')">
            <div>横</div>
        </div>
    </div>
    <div>
        <div
            [class.selected]="sheetSpec['a5']"
            class="print-cargo-s click" (click)="setupSheetType('a5')">
            <div>Ａ５</div>
        </div>
        <div
            [class.selected]="sheetSpec['a4']"
            class="print-cargo-s click" (click)="setupSheetType('a4')">
            <div>Ａ４</div>
        </div>
        <div
            [class.selected]="sheetSpec['a3']"
            class="print-cargo-s click" (click)="setupSheetType('a3')">
            <div>Ａ３</div>
        </div>
        <div
            [class.selected]="sheetSpec['b6']"
            class="print-cargo-s click" (click)="setupSheetType('b6')">
            <div>Ｂ６</div>
        </div>
        <div
            [class.selected]="sheetSpec['b5']"
            class="print-cargo-s click" (click)="setupSheetType('b5')">
            <div>Ｂ５</div>
        </div>
        <div
            [class.selected]="sheetSpec['b4']"
            class="print-cargo-s click" (click)="setupSheetType('b4')">
            <div>Ｂ４</div>
        </div>
    </div>
</div>
<div class="edit-box"
    (mousedown)="onPageDownHandler($event)"
    (mousemove)="onPageMoveHandler($event)"
    (mouseup)="onPageUpHandler($event)">
    <div class="edit-frame"
        [attr.width]="editWidth"
        [attr.height]="editHeight"
        [style.top]="pageMoveY + 'px'"
        [style.left]="pageMoveX + 'px'">
    <div class="edit-bg" [style.transform]="editScale">
        <img [attr.width]="editWidth" [attr.height]="editHeight"
            [attr.src]="sanitizer.bypassSecurityTrustResourceUrl(editLayout.template)">
    </div>
    <div class="edit-svg" id="edit-svg"
        [style.transform]="editScale">
        <ng-container *ngFor="let text of textLists; index as i">
        <div [style.left]="text['x']+'px'" [style.top]="text['y']+'px'"
            class="edit-label-view">{{text["label"]}}</div>
        </ng-container>
        <svg [attr.width]="editWidth" [attr.height]="editHeight"
            (mousemove)="onTextMoveHandler($event)"
            (mouseup)="onTextUpHandler($event)">
        <ng-container *ngFor="let text of textLists; index as i">
            <text
                (mousedown)="onTextDownHandler($event, i)"
                [attr.x]="text['x']" [attr.y]="text['y']"
                [attr.font-size]="text['size']"
                 font-family="MS Mincho" fill="black">{{text["text"]}}</text>
        </ng-container>
        </svg>
    </div>
    </div>
</div>
<div (click)="setupBig()" class="scale-button click">拡大</div>
<div (click)="setupLittle()" class="scale-button click">縮小</div>
<div class="text-box">
    <div class="edit-name">
        <label>名前:</label><input type="text" [(ngModel)]="editLayout.title">
    </div>
    <div class="text-add">
        <div class="click" (click)="addNewText()">入力欄追加</div>
    </div>
    <div class="text-list">
        <ul>
    <ng-container *ngFor="let text of textLists">
        <li class="text-propatie">
            <div>
                <input type="text" size="30"
                    [(ngModel)]="text['text']" class="text-input1">
            </div>
            <div>
                <label>大きさ</label><input type="text" size="3" [(ngModel)]="text['size']" class="text-input2">
                <label>文字数</label><input type="text" size="3" [(ngModel)]="text['length']" class="text-input2">
                <label>ラベル</label><input type="text" size="10" [(ngModel)]="text['label']" class="text-input2">
            </div>
            <div>
                <div class="text-x">X:{{text["x"]}}</div>
                <div class="text-x">Y:{{text["y"]}}</div>
                <div class="text-del click" (click)="setDelete(text['id'])">消す</div>
            </div>
        </li>
    </ng-container>
        </ul>
    </div>
    <div class="edit-template">
        <form action=""
            method="post"
            enctype="multipart/form-data">
            <div 
                [class.drag-over]="onDrag"
                class="edit-drop-area"
                (dragover)="onDragOverHandler($event)" 
                (dragleave)="onDragLeaveHandler($event)"
                (drop)="onDropHandler($event, 'drag')" >
                <div class="edit-drop-inside">
                    <p>ここにSVGをドラッグ</p>
                    <p>または</p>
                    <input name="svg" (change)="onDropHandler($event, 'select')" type="file" value="選択" >
                </div>
            </div>
        </form>
    </div>
</div>

<div class="select-box-right">
    <div class="print-cargo click" (click)="setSave()">
        <div class="label-s"><h3>保存</h3></div>
    </div>
    <div class="print-cargo click" (click)="moveWindow('main')">
        <div class="label-s"><h3>戻る</h3></div>
    </div>
</div>
</ng-container>


