<div class="load-screen" *ngIf="flags['onLoad']">
        <div>読み込み中</div>
    </div>
    
    <ng-container *ngIf="flags['onType']">
    <div class="print-caption">シートタイプを選択</div>
    <div class="select-box">
        <div class="print-cargo click" (click)="setSheetType(12)">
            <div class="label-s"><h3>12面</h3></div>
        </div>
        <div class="print-cargo click" (click)="setSheetType(24)">
            <div class="label-s"><h3>24面</h3></div>
        </div>
        <div class="print-cargo click" (click)="setSheetType(10)">
            <div class="label-s"><h3>10面</h3></div>
        </div>
        <div class="print-cargo click" (click)="setSheetType(0)">
            <div class="label-s"><h3>カスタム</h3></div>
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="flags['onSheetSpec']">
    <div class="print-caption">シートサイズ設定・確認</div>
    <div class="select-box">
        <div class="box-flex">
            <ul class="spec-list">
                <li>
                    <div class="sort-left">余白(上)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['pageMarginTop']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">余白(左)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['pageMarginLeft']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">ﾗﾍﾞﾙ(幅)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['LabelWidth']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">ﾗﾍﾞﾙ(高)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['LabelHeight']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">ﾏｰｼﾞﾝ(上下)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['LabelMarginTop']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
                <li>
                    <div class="sort-left">ﾏｰｼﾞﾝ(左右)</div>
                    <div class="sort-left">
                        <input type="number"
                        [(ngModel)]="sheetStatus['LabelMarginLeft']"
                        (change)="sheetDesiner()">
                    </div>
                </li>
            </ul>
        </div>
        <div class="box-flex">
            <div class="print-caption">盤面数：{{cellCounter.length}}</div>
            <div class="sheet-review">
             <ng-container *ngFor="let cell of cellCounter">
                <div class="ghost-cell"
                    [style.width.px]="sheetStatus.LabelWidth"
                    [style.height.px]="sheetStatus.LabelHeight"
                    [style.margin-left.px]="sheetStatus.LabelMarginLeft"
                    [style.margin-bottom.px]="sheetStatus.LabelMarginTop">
                </div>
            </ng-container>
            </div>
        </div>
        <div class="select-box-bottom">
            <div class="print-cargo click" (click)="setSheetSpec()">
                <div class="label-s"><h3>決定</h3></div>
            </div>
            <div class="print-cargo click" (click)="moveWindow('type')">
                <div class="label-s"><h3>戻る</h3></div>
            </div>
        </div>
    </div>
    </ng-container>


    <ng-container *ngIf="flags['onSheetDesine']">
    <div class="select-box">
        <div class="print-cargo_high click" (click)="setSheetDesine('line1')">
            <div class="label-s">1行</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('line2')">
            <div class="label-s">２行</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('line3')">
            <div class="label-s">３行</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('line3address')">
            <div class="label-s">３行住所</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('line4address')">
            <div class="label-s">４行住所</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo_high click" (click)="setSheetDesine('line5address')">
            <div class="label-s">５行住所</div>
            <div class="sheet-sample"></div>
        </div>
        <div class="print-cargo click" (click)="moveWindow('spec')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="flags['onPrintPosition']">
    <div class="print-caption">印刷開始位置</div>
    <div class="select-box">
        <div class="box-flex">
            <div class="sheet-review">
            <ng-container *ngFor="let cell of cellCounter; index as i">
                <div class="ghost-cell click"
                    (click)="setPrintStartIndex(i)"
                    [class.selected]='i === printStartPosition'
                    [style.width.px]="sheetStatus.LabelWidth"
                    [style.height.px]="sheetStatus.LabelHeight"
                    [style.margin-left.px]="sheetStatus.LabelMarginLeft"
                    [style.margin-bottom.px]="sheetStatus.LabelMarginTop">
                </div>
            </ng-container>
            </div>
        </div>
    </div>
    <div class="select-box-bottom">
        <div class="print-cargo click" (click)="setPrintPosition()">
            <div class="label-s"><h3>決定</h3></div>
        </div>
        <div class="print-cargo click" (click)="moveWindow('desine')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="flags['onLoadCSV']">
    <div class="print-caption">csvを取り込みますか？</div>

    <div class="select-box">
        <div class="print-cargo click" (click)="setLoadCSV(1)">
            <div class="label-s"><h3>取り込む</h3></div>
        </div>
        <div class="print-cargo click" (click)="setLoadCSV(0)">
            <div class="label-s"><h3>取り込まない</h3></div>
        </div>
        <div class="print-cargo click" (click)="moveWindow('type')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>    
    <ng-container *ngIf="flags['onIncludeCSV']">
    <form action=""
        method="post"
        enctype="multipart/form-data">
        <div 
            [class.drag-over]="flags['onDrag']"
            class="drag-drop-area"
            (dragover)="onDragOverHandler($event)" 
            (dragleave)="onDragLeaveHandler($event)"
            (drop)="onSelectHandler($event,'drag')" >
            <div class="drag-drop-inside">
                <p>ここにCSVをドロップ</p>
                <p>または</p>
                <input name="images[]" (change)="onSelectHandler($event, 'select')" type="file" value="ファイルを選択" accept="image/*" multiple >
            </div>
        </div>
    </form>
    <div></div>

    <div class="select-box">
        <div class="print-cargo click" (click)="moveWindow('type')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="flags['onInputContents']">
    <div class="print-caption">内容入力</div>
    <div class="input-form">
        <ng-container *ngIf="inputForm.line1">
        項目１： <input type="text"></ng-container>
        <ng-container *ngIf="inputForm.line2">
        項目２： <input type="text"></ng-container>
        <ng-container *ngIf="inputForm.line3">
        項目３： <input type="text"></ng-container>
        <ng-container *ngIf="inputForm.line4">
        項目４： <input type="text"></ng-container>
        <ng-container *ngIf="inputForm.line5">
        項目５： <input type="text"></ng-container>
        <ng-container *ngIf="inputForm.address1">
        郵便番号： <input type="number"></ng-container>
        <ng-container *ngIf="inputForm.address2">
        住所： <input type="text"></ng-container>
        <ng-container *ngIf="inputForm.address3">
        建物： <input type="text"></ng-container>
        <ng-container *ngIf="inputForm.address4">
        会社： <input type="text"></ng-container>
        <ng-container *ngIf="inputForm.address5">
        名前： <input type="text"></ng-container>
    </div>
    <div class="select-box">
        <div class="print-cargo click" (click)="moveWindow('loadcsv')">
            <div class="label-s"><h3>戻る</h3></div>
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="flags['onReviewCSV']">
    <div class="select-box-right">
        <div class="print-cargo_s click" (click)="moveWindow('type')">
            <div class="label-s">戻る</div>
        </div>
    </div>
    </ng-container>
    
    <ng-container *ngIf="flags['onDownload']">
        <div class="print-caption">PDFをダウンロードします</div>
        <div class="select-box-bottom">
            <div class="print-cargo_s click" (click)="buildPdf()">
                <div class="label-s"><h3>ダウンロード</h3></div>
            </div>
            <div class="print-cargo_s click" (click)="moveWindow('type')">
                <div class="label-s"><h3>初めに戻る</h3></div>
            </div>
        </div>
    </ng-container>
    